<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Booking</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
    <nav><a class="logo" href="/">SMART<span>HOTEL</span></a>
        <div class="nav"><a href="/">Home</a><a href="/rooms">Rooms</a><a href="/menu">Menu</a><a
                href="/party">Party</a></div>
    </nav>
    <div class="formbox wide top">
        <p class="gold">RESERVATION</p>
        <h2>Make a Booking</h2>
        <form method="post"><label>Booking Type</label><select name="type">
                <option>Table Reservation</option>
                <option>Room Booking</option>
                <option>Party Hall Booking</option>
            </select>
            <label>Name</label><input name="name" required>
            <div class="two">
                <div><label>Date</label><input type="date" name="date" required></div>
                <div><label>Time</label><input type="time" name="time"></div>
            </div>
            <label>Details</label><textarea name="details" rows="5"
                placeholder="Guests, room type, event details..."></textarea><button class="btn full">Submit
                Booking</button>
        </form>
    </div>
</body>

</html>