<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Party Hall</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
    <nav><a class="logo" href="/">SMART<span>HOTEL</span></a>
        <div class="nav"><a href="/">Home</a><a href="/rooms">Rooms</a><a href="/menu">Menu</a><a
                href="/booking">Booking</a></div>
    </nav>
    <section class="hero mini">
        <div class="heroText">
            <p class="gold">EVENTS & CELEBRATIONS</p>
            <h1>Celebrate Your<br><span>Special Moments</span></h1>
            <p>Elegant venue for birthdays, weddings, meetings and corporate events.</p><a class="btn"
                href="/booking">Book Party Hall</a>
        </div>
    </section>
    <section class="section">
        <div class="grid">
            <div class="card"><b>💍</b>
                <h3>Wedding Events</h3>
                <p>Elegant space for memorable celebrations.</p>
            </div>
            <div class="card"><b>🎂</b>
                <h3>Birthday Party</h3>
                <p>Perfect setup for family and friends.</p>
            </div>
            <div class="card"><b>💼</b>
                <h3>Corporate Events</h3>
                <p>Professional venue for meetings.</p>
            </div>
        </div>
    </section>
</body>

</html>